body{
		margin:0;
		padding:0;
}
.column p{
	margin-top: 2em;
	font-family: "Georgia";
	font-size: 10pt;
	line-height: 16pt;
	color: white;
}
div.svgloader{
	display: none;
}
@media screen {
	/*two boxes next to each other*/
	#svgcontainer{
		margin-top:0vh;
		margin-left:0vw;
		height: 100vh;
		width: 100vw;
	}
	.column{
		position: absolute;
		margin-top:65vh;
		margin-left:50vw;
		height: 45vh;
		width: 20%;
	}
}
