<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>addToMenu</key>
	<array>
		<dict>
			<key>path</key>
			<string>mathShape/cmd_exportCurrentFont.py</string>
			<key>preferredName</key>
			<string>Export</string>
			<key>shortKey</key>
			<string></string>
		</dict>
		<dict>
			<key>path</key>
			<string>mathShape/cmd_prepareNewShape.py</string>
			<key>preferredName</key>
			<string>New</string>
			<key>shortKey</key>
			<string></string>
		</dict>
		<dict>
			<key>path</key>
			<string>mathShape/cmd_scalePastedSVGs.py</string>
			<key>preferredName</key>
			<string>Scale</string>
			<key>shortKey</key>
			<string></string>
		</dict>
	</array>
	<key>developer</key>
	<string>LettError</string>
	<key>developerURL</key>
	<string>http://letterror.com</string>
	<key>html</key>
	<false/>
	<key>launchAtStartUp</key>
	<integer>0</integer>
	<key>mainScript</key>
	<string></string>
	<key>name</key>
	<string>LTRMathShape</string>
	<key>timeStamp</key>
	<real>1432921637.825511</real>
	<key>version</key>
	<string>1.1</string>
</dict>
</plist>
